html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 50px;

	/* footer + 20px margin */
	margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

.footer > .container {
	line-height: 50px;
}

.footer p { 
	margin: 0;
}

.container {
	max-width: 900px;
}

.max-width-250px {
	max-width: 250px;
}

.max-width-400px {
	max-width: 400px;
}

.margin-left-5px {
	margin-left: 5px;
}

.padding-15px {
	padding: 15px;
}

input.invalid, textarea.invalid, select.invalid {
	border-color: #F00;
}

.table-nonfluid {
   width: auto !important;
}

.input-group-addon.middle {
	border-left-width: 0;
    border-right-width: 0;
}

.btn-primary > img.icon {
	height: 24px;
    margin: -6px -2px -4px -8px;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}